
.principal_text {
  padding: 3rem;
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Bevan', cursive;
  color: #D81e05;
  -webkit-text-stroke: 2px #fff;
}

.button {
  @apply text-lg text-red bg-white border rounded-xl;
  @apply w-64 my-1.5 py-3 gap-2;
  position: relative;
  border: 2px solid #ffffff;
  transition: all 400ms ease;
  font-weight: 500;
}

.button:hover {
  @apply text-white bg-transparent;
  transition: all 400ms ease;
}
